# ===========================================
# General
# ===========================================
APP_URL="http://localhost:3000"

# ===========================================
# Database
# ===========================================
DATABASE_URL="postgres://USER:PASSWORD@HOST/DB?sslmode=require"

# ===========================================
# Better-auth
# https://better-auth.com/
# ===========================================
BETTER_AUTH_SECRET="generate_with_openssl_rand_base64_32"
BETTER_AUTH_URL="http://localhost:3000"

# ===========================================
# Google OAuth — https://console.cloud.google.com/apis/credentials
# Authorized redirect URI: {BETTER_AUTH_URL}/api/auth/callback/google
# ===========================================
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# ===========================================
# Resend Email
# https://resend.com/docs/dashboard/emails/send-test-emails
# this is a test key, and will be deleted after the review is done
# utlimately these values are optional
# ===========================================
RESEND_API_KEY=re_XQ8avjeB_EMW7XTVMo9XPk8to3ExPP47t
EMAIL_ADDRESS_NOTIFICATIONS=
